@tailwind base;
@tailwind components;
@tailwind utilities;

.textHeader {
  color: #f2f2f2;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  line-height: 24px;
}

.hoverIcons:hover {
  border: 2px solid #ebad2d;
  border-radius: 50%;
}
.hoverCards:hover {
  border: 2px solid #c38814;
}

.films {
  border-bottom: 2px solid #c38814;
}
.allhovers:hover {
  border: 1px solid #ebad2d;
  color: #ebad2d;
  border-bottom: 1px solid #ebad2d;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(18, 18, 18, 0.9);
  z-index: 100;
}
